@mixin semantic-clearfix {
    /* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
    .group:before, .group:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
    .group:after { clear: both; }
    /* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
    .group { zoom: 1; }
}
