/* Fonts
------------------------------------------------- */
$sans-serif-stack: "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
$serif-stack: "Georgia", "Times", "Times New Roman", serif;
$monospace-stack: "Menlo", "Monaco", "Andale Mono", "Courier New", fixed;

$base-font-family: $sans-serif-stack;
$base-font-size: 13px;
$base-line-height: 1.231;


/* Base colors
------------------------------------------------- */
$font-color: #222;
$link-color: #00e;
$link-visited-color: #551a8b;
$link-hover-color: #06e;
$selected-font-color: #fff;
$selected-background-color: #fe57a1;


/* Cache busting
------------------------------------------------- */
$cache_buster_suffix: "?1";


/* Compass extensions
------------------------------------------------- */
@import "compass/html5-boilerplate";
